<div class="info">
  <h1 class="info__title">Introduce tu nueva contraseña</h1>

  <div class="container info__flex">
    <form novalidate [formGroup]="register" (ngSubmit)="getDataForm()">
      <input
        name="password"
        type="password"
        placeholder="Nueva contraseña"
        id="password"
        formControlName="password_user"
      />
      <p class="errorText" *ngIf="password_userError?.param">
        {{ password_userError?.msg }}
      </p>
      <button class="btn">Enviar</button>
    </form>
  </div>
</div>

<div class="container">
  <figure class="infoImg">
    <img src="../../../assets/images/logoError.png" alt="logo password" />
  </figure>
  <div class="button">
    <button [routerLink]="['/login']" class="back">Volver</button>
  </div>
</div>
