@import "variables";

h1 {
  text-align: center;
  margin: 2rem 0;
  line-height:1;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(27, 181, 96, 0.229);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  border-radius: 8px;
  max-width: 600px;
  margin-bottom: 2rem;

  input {
    width: 200px;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
  }

  select {
    width: 200px;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid black;
  }

  label {
    color: grey;
    margin-bottom: -17px;
  }

  .btn {
    cursor: pointer;
    @include mobileFirst(Laptop) {
      &:hover {
        border-radius: 8px;
        background-color: $brown3;
      }
    }
  }

  p {
    color: rgb(248, 73, 73);
    font-weight: bold;
    font-size: 12px;
  }
}
